<launch>
	
	<!-- arg name="model" />
	<arg name="gui" default="False" />
	<param name="robot_description" textfile="$(find boocax_base)/urdf/boocax.urdf" />
	<param name="use_gui" value="$(arg gui)"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" / -->

	<!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.rviz" required="true" / -->

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find boocax_base)/rviz/slam.rviz" required="true" />

</launch>
